{% extends 'base.html' %}
{% set active_page = "monitor" %}

{% block title %}Monitor{% endblock %}

{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/monitor_new.css') }}" rel="stylesheet">


{% endblock %}


{% block content %}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!-- <div class="sidebar-header">
                    <h3>Session monitor</h3>
                </div> -->
                <li class="sidebar-brand">
                    <a href="#">
                        Session monitor
                    </a>
                </li>
                {% for session in sessions %}
                <li>
                    <a href="#">{{session['session_name']}}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <!-- <h1>Session monitor</h1> -->
                <div class="row">
                    <div class='col-lg-2 col-sm-12'>
                        <h2>Session statistics</h2>
                        <h3>Name:</h3>
                        <p>{{sessions[-1]['session_name']}}</p>
                        <h3>Begin time</h3>
                        <p>{{sessions[-1]['begin_time']}}</p>
                        <h3>End time</h3>
                        <p>{{sessions[-1]['end_time']}}</p>
                        <h3>Type of session</h3>
                        <p>{{sessions[-1]['type']}}</p>
                        <h3>Last temperature</h3>
                        <p>5 graden</p>

                        <a href="#menu-toggle" class="btn btn-yellow " id="menu-toggle">Toggle Menu</a>

                    </div>
                    <div class='col-lg-10 col-sm-12'>
                        <canvas id="monitor"></canvas>
                    </div>
                </div>


            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script type="text/javascript">

        function getData() {
            $.ajax({
                url: '{{ url_for('temperature.get_data') }}',
                type: "get",
                data: {jsdata: 'data'},
                success: function (response) {
                    console.log(response);
                    var dev_id;
                    var found;
                    var danger_list = [];
                    for (var i = 0; i < response['sessions'].length; i++) {
                        dev_id = response['sessions'][i]['id'];
                        found = false;
                        chart.data.datasets.forEach(function (dataset) {
                            if (dataset.identifier == dev_id) {
                                dataset.data = response['temperature'][dev_id];
                                found = true;
                            }
                        })
                        if (!found) {
                            chart.data.datasets.push({
                                label: response['sessions'][i]['session_name'],
                                data: response['temperature'][dev_id],
                                borderColor: '#ffcc00',
                                pointBorderColor: '#ffcc00',
                                backgroundColor: '#ffcc0050',
                                identifier: dev_id,
                            })
                        }
                    }
                    chart.update();
                },
                error: function (xhr) {
                    alert('Failed from timeout');
                }
                ,
                timeout: 5000
            });
        }



        var ctx = document.getElementById('monitor').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: []
            },
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'bottom'
                },
                scales: {
                    xAxes: [
                        {
                            type: 'time',
                            display: true,
                            time: {
                                unit : 'day',
                                displayFormats: {
                                    day: 'MMM, ddd D'
                                }
                            }
                        }
                    ],
                    yAxes: [
                        {
                            ticks: {
                                callback: function (value) {
                                    {#return value + '%';#}
                                    return value;
                                },
                                suggestedMin: 0,
                                // suggestedMax: 50,
                                beginAtZero: true
                            },
                            display: true
                        }
                    ]
                }
            }
        });
        getData()
        setInterval(getData,10000)
    </script>

{% endblock %}
